*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    background-image: url(./img/bg-img.jpg);
    height: 590px;
}
.row-50 h1{
    text-align: center;
    padding: 150px 0px 0px 650px;
    font-size: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Source Sans Pro";
}
.row-50 p{
    padding-top: 20px;
    text-align: right;
    font-size: 20px;
    color: #f4f5f9;
    font-weight: 400;
    font-family: "Open Sans";
}
#img-1{
    padding: 50px 0px 0px 850px;
}
.row-50{
    position: relative;
}
#img-4 img{
    position: absolute;
    border-radius: 50px;
    top: 160px;
    left: 180px;
    border: 2px solid #e74c3c;
}
#img-5 img{
    position: absolute;
    border-radius: 50px;
    top: 40px;
    left: 460px;   
    border: 2px solid #e74c3c;
}
.vertical-slim-div{
    position: absolute;
    top: 122px;
    left: 499px;
    height: 76px;
    width: 2px;
    background-color: gray;
}
.wave{
    stroke: #e74c3c;
}
.hover1{
    position: absolute;
    top: 40px;
    left: 460px;
}
.opacity1{
    fill-opacity: 0.5;
    fill: #e74c3c;
}
#img-5 h1{
    font-size: 20px;
    text-transform: uppercase;
    color: #e74c3c;
    font-weight: 600;
    font-family: "Open Sans";
    position: absolute;
    top: 50px;
    left:-220px;
}
#img-5 p{
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Source Sans Pro";
    position: absolute;
    top: 220px;
    left:450px;
}
#img-6 img{
    position: absolute;
    border-radius: 50px;
    top: 100px;
    left: 680px;
    border: 2px solid #e74c3c;
}
#img-7 img{
    position: absolute;
    border-radius: 50px;
    top: 90px;
    left: 850px;
    border: 2px solid #e74c3c;
}
#img-8 img{
    position: absolute;
    border-radius: 50px;
    top: 50px;
    right: 185px;
    border: 2px solid #e74c3c;
}
.img6:hover{
    filter: contrast(400%);
}
.img7:hover{
    filter: contrast(400%);
}
.img8:hover{
    filter: contrast(400%);
}