<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>layout page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="contanier">
      <div id="col-30">
        <div id="box-1">
          <h1>Thumbnail</h1>
          <p>
            This is a wider card with supporting<br />text below as a nature
            lead in to<br />additional content. This content is a <br />little
            bit longer.
          </p>
          <button id="btn-1">View</button>
          <button id="btn-2">Edit</button>
        </div>
        <div id="box-1">
          <h1>Thumbnail</h1>
          <p>
            This is a wider card with supporting<br />text below as a nature
            lead in to<br />additional content. This content is a <br />little
            bit longer.
          </p>
          <button id="btn-1">View</button>
          <button id="btn-2">Edit</button>
        </div>
      </div>
      <div id="col-30">
        <div id="box-1">
          <h1>Thumbnail</h1>
          <p>
            This is a wider card with supporting<br />text below as a nature
            lead in to<br />additional content. This content is a <br />little
            bit longer.
          </p>
          <button id="btn-1">View</button>
          <button id="btn-2">Edit</button>
        </div>
        <div id="box-1">
          <h1>Thumbnail</h1>
          <p>
            This is a wider card with supporting<br />text below as a nature
            lead in to<br />additional content. This content is a <br />little
            bit longer.
          </p>
          <button id="btn-1">View</button>
          <button id="btn-2">Edit</button>
        </div>
      </div>
      <div id="col-40">
        <div id="box-1">
          <h1>Thumbnail</h1>
          <p>
            This is a wider card with supporting<br />text below as a nature
            lead in to<br />additional content. This content is a <br />little
            bit longer.
          </p>
          <button id="btn-1">View</button>
          <button id="btn-2">Edit</button>
        </div>
        <div id="box-1">
          <h1>Thumbnail</h1>
          <p>
            This is a wider card with supporting<br />text below as a nature
            lead in to<br />additional content. This content is a <br />little
            bit longer.
          </p>
          <button id="btn-1">View</button>
          <button id="btn-2">Edit</button>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
